<!doctype html>
<html ng-app>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="score.js"></script>
    </head>

    <body>
        Get your free technical debt score!
        <div ng-controller="ScoreCtrl">
            <label>What language is your project written in?</label>
            <select ng-model="languageUsed" ng-options="l.name for l in languages">
            </select>
            <br>
            <label>How many unit tests do you have?</label>
            <input type="text" ng-model="testCount" placeholder="You do test, right?">
            <br>
            <label>How many languages are in your project?</label>
            <input type="number" ng-model="langCount" placeholder="Probably too many...">
            <div>
                Your current score is {{score()}}.
            </div>
        </div>
    </body>
</html>
